.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

h1{
  font-style: italic;
}

.info{
  font-family:"Courier New";
}

.keywords{
  margin-left:1em;
}

.Documentation{
  margin:2em;
}

.transcription,.translation{
  font-family:"Courier New";
  margin-top: 0.5em;
}

